<%= simple_form_for(@team) do |f| %>

<% if @team.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
	<ul>
		<% @team.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.input :nome, label: "Nome" %>

<%= f.association :user, collection: User.all.collect{ |u| [u.email, u.id]}, label: "Nome" %>

<%= f.button :submit, :class => 'btn btn-success'%>

<% end %>
