<%= simple_form_for(@task_stat) do |f| %>
  <% if @task_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_stat.errors.count, "error") %> prohibited this task_stat from being saved:</h2>

      <ul>
      <% @task_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :nome, label: 'Nome: ' %>
  </div>
  <div class="field">
    <%= f.label :ordem %><br />
    <%= f.text_field :ordem %>
  </div>
  <div class="field">
    <%= f.label :finalizada %><br />
    <%= f.check_box :finalizada %>
  </div>
  
  <%= f.button :submit, :class => 'btn btn-success'%>
  
<% end %>
