<%= simple_form_for(@project) do |f| %>


<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
	<ul>
		<% @project.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.input :nome, :class => "texto", :label => "Nome"%>

<%= f.association :projectType, collection: ProjectType.all.collect{ |p| [p.nome, p.id]}, :label => "Tipo do Projeto"%>

<%= f.input :descricao, :class => "texto", :label => "Descrição"%>

<%= f.text_field :dataInicio, :class => "data", :label => "Data inicial"%>

<%= f.text_field :dataFinal, :class => "data", :label => "Data final"%>



  
  
<div class="actions">
	<%= f.submit %>
</div>
<% end %>

